html {
    background-color: #303234;
    padding: 0;
    margin:0;
    border:0;
    width: 100vw;
    
}

body {
    height:100%;
    color: whitesmoke;
    padding: 0;
    margin:0;
    border:0;
    font-family: 'Fjalla One', sans-serif;
}

.hero{
   background-image: url('https://images1.apartments.com/i2/SGq8_cFdRMz-df7fCOv9vKq3TazvG57wXEizMcNcPUg/116/lyra-new-york-ny-building-photo.jpg'); 
   /* position: absolute; */
   padding:0;
    margin:0;
    border:0;
    height:99vh;
    width:100vw;
}
.special{
    background-color: #4b96e0;
    display: flex;
    justify-content:center;
    font-size: 19px;
}

.header-background{ 
    background-color: rgba(0,0,0,0.6);  
    z-index: 1; 
     } 

 .hero-text-background{
    background-color: rgba(0,0,0,0.6); 
    z-index: 1;  
    height: 60%;
    max-height: contain ;
} 

header{
    display:flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    text-shadow: 4px 6px 6px #303234;
   
}



#hamburger{
    margin-top: 8px;
    transition:  0.4s ease-in-out;
}

#hamburger:hover{
    cursor: pointer;
}

.hero-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13%;
    text-shadow: 4px 6px 6px #1F2022;
 
}

H1{
    font-size: 45px;
}

.hero-body{
    font-size: 23px;
}

.arrow{
    height:40px;
    width: 60px;
}

.description{
    display:flex;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;    
}

.gallery-photo{
    width: 40vw;
    margin: 2%;
    border-radius: 10px;
    height:53vh;
}

.property-description{
    margin:3%;
    font-size: 20px;
}

.btn{
    margin-right: 20px;
    margin-top: 30px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    color: whitesmoke;
    background-color:#1F2022;
    box-shadow: #1F2022;
    font-weight: bold;
    transition: background-color 0.4s ease-in-out;
}

.btn:hover{
    background-color: #4b96e0;
    border: #E6E6E6;
    cursor: pointer;
}

.floorplans{
    display: flex;
   justify-content: space-between;
    padding-top:2%;
    padding-bottom:2%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #E6E6E6;
}

.floorplan-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    color:#303234;
    background-color: white;
    padding: 5%;
    padding-bottom: 10px;
    padding-top: 20px;
    margin: 15px;
    border-radius: 10px;
}

.floorplan-image{
    max-width: fit-content;
    height: 30vh;
}

.floorplan-description{
    margin-top: 8px;
    padding: 8px;
    border-top: 2px lightgray solid;
    align-items: center;
}

.amenities{
    display:flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 18%;
    margin-right: 18%;  
    /* border-bottom: #E6E6E6 solid 2px; */
}

.amenity-photo{
    width: 35vw;
    margin: 2%;
    border-radius: 10px;
    height:43vh;
    justify-self: right;
}

h3{
    font-size: 22px;
}

.pricing{
    font-size: 18px;
}

H4{
    font-size: 26px;
}

/* .location{ */
    /* display:flex;
    justify-content: center; */
/* } */

/* .map{ */
    /* width: 100vw;
    height: 50vh;
   
    padding:0; */
/* } */

/* .location{
    display:flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 18%;
    margin-right: 18%;  
}

.map{
    width: 35vw;
    margin: 2%;
    border-radius: 10px;
    height:43vh;
    justify-self: right; 
} */

.contact{
    display:flex;
    background-color: #E6E6E6;
    display:flex;
    color:#1F2022;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 3%;
}

.contact-form{
    display:flex;
    flex-direction: column;
}

#menu{
    display:none;
}

.menu-design{
    background-color: #1f2022f5;
    
}


.menu-content{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-content: right;
    padding-top: 20%;
}

.menu-item{
    font-size: 24px;
    text-decoration: solid #E6E6E6 2px;
    padding-bottom: 30px;
    padding-left: 20%;
}

.menu-item2{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline solid #E6E6E6 2px;
    padding-bottom: 30px;
    padding-left: 20%;
    text-shadow: 4px 6px 6px #1F2022;
}

.menu-position{
  padding-top: 25px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 85%;
  z-index: 2;
}

footer{
    background-color: #1F2022;
    display:flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
}

.footer-text{
    display:flex;
}

.policy{
   text-decoration: underline solid 1px #E6E6E6;
   padding-left: 20px;
}

.pet-link{
    text-decoration: underline solid 1px #4b96e0;
    font-size: 20px;
    color: #4b96e0;
    text-shadow: 4px 6px 6px #1F2022;
    transition:  0.4s ease-in-out;
}

.pet-link:hover{
    cursor: pointer;
}

.features{
    font-size: 20px;
}

.pet-design{
  display:flex;
  justify-content: center; 
  flex-direction: column; 
  height: 30vh;
  width: 40vw;
  background-color: #E6E6E6;
  color:#1F2022;
  padding:5%;
  border:#303234 6px solid;
  border-radius: 3px; 
  display:none; 
}

.pet-position{
    padding-top: 25px;
    position: fixed;
    top: 25%;
    right: 25%;
    bottom: 0;
    left: 25%;
    z-index: 2;
}


.close{
    color:#4b96e0;
    text-decoration: underline solid 1px #4b96e0;
}

h6{
    font-size: 22px;
    padding-top: 4vh;
}

.contact{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    padding-right:10%;
}

.contact-text{
    font-size: 20px;
    list-style-type: none;

}

.contact-form{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:30vw;
    font-size: 20px;
}





@media(max-width:660px){

    body{
        max-width: 100%;
    }

    .hero-body{
        font-size: 18px;
    }

    .hero-text{
        padding: 2%;
        padding-top:15%
    }

    .hero-text-background{
        height: 72%;
    }

    .description{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
    }

    .gallery-photo{
        width:85vw;
    }

    .floorplans{
        display:flex;
        flex-direction: column;
        justify-content: center; 
        padding-left: 5%; 
    }

    .floorplan-container{
       width: 75vw;
    }

    .amenities{
        display:flex;
        flex-direction: column;
        padding-left: 5%; 
        width:85vw;
        justify-content: center;
        margin-left: 0;
    }

    .amenity-photo{
        width:85vw;
        margin:0;
        padding:5%;
    
    }
    
    .contact{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 7%;
        margin-left:0;
      width: 85vw;
    }

    h6{
        padding-top: 25px;
        padding-bottom:0;
        margin: 0;
    }
    .menu-position{
        left:40%;
    }

    .contact-form{
        padding-right: 20px;
        width: 85vw;
    }


    h4{
        border-bottom: #303234 solid 4px;
    }
}

